[class^="item"] {
    flex: 1;
    height: 100px;
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: column;
}

.item-top {
    background: #3772aa;
}

.item-mid-upper {
    background: #d2691e;
}

.item-mid-lower {
    background: #006400;
}

.item-bottom {
    background: #8b0000;
}

.hid {
    display: none;
}

@media screen and (min-width: 576px) {
    .bottom {
        flex-flow: row wrap;
    }
    .hid {
        display: unset;
    }
    .item-bottom {
        flex: 40%;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0 auto;
        width: 60%;
    }
    .top, .mid, .bottom {
        flex-direction: row;
    }

    .item-bottom {
        flex: 20%;
    }
}
