.menu-buttons {
    background: #2c3e50;
    padding: 15px;
    color: #ecf0f1;
}

.input-item,
.form-label {
    display: block;
    text-align: center;
    margin: 5px auto;
}

.add-contact {
    padding: 5px;
}

.contacts-container {
    margin: 1% auto;
    text-align: center;
}

#contacts {
    padding: 0;
    margin: 0 auto;
    max-width: 40%;
}

li {
    margin: 2%;
    list-style: none;
    padding: 5px;
    background: #bdc3c7;
    border: 2px solid #000000;
    border-radius: 15px;
}

.edit-button, .add-contact, .remove-contact {
    margin: 1%;
    min-width: 80px;
    background: #ecf0f1;
    border: 1px solid #000000;
    border-radius: 4px;
    transition: 0.5s;
    padding: 8px;
}

.edit-button:hover {
    background: #2c3e50;
}

.add-contact:hover, .remove-contact:hover {
    background: #90969a;
}

.menu-input, .contact-edit > input {
    background: #ecf0f1;
    border: 1px solid #000;
    border-radius: 7px;
}

.add-contact, .remove-contact {
    margin: 1% auto;
    width: 120px;
}

.contact-edit > input {
    width: 100px;
    font-size: 12px;
    padding-left: 10px;
}