* {
    box-sizing: border-box;
    /*outline: 1px solid red;*/
    font-family: "Lato Light";
}

html, body {
    margin: 0;
    padding: 0;
}

.topbar {
    height: 80px;
    position: fixed;
    width: 100%;
    background: #292929;
    overflow: hidden;
    z-index: 10;
    margin: 0 auto;
}

.logo {
    float: left;
    height: 80px;
    width: 80px;
    margin-left: 100px;
}

.navigation-list {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.navigation-list-item {
    display: inline-block;
    padding: 20px 30px;
    background: #292929;
    list-style: none;
    margin-right: -5px;
    vertical-align: middle;
}

.navigation-list-item a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    vertical-align: middle;
}

.navigation-list-item.works {
    border-top: 10px solid #ccad09;
}
.navigation-list-item.features {
    border-top: 10px solid #cc7e39;
}
.navigation-list-item.opinions {
    border-top: 10px solid #cc374b;
}
.navigation-list-item.blog {
    border-top: 10px solid #cc00b0;
}
.navigation-list-item.company {
    border-top: 10px solid #c653cc;
}
.navigation-list-item.team {
    border-top: 10px solid #5e2ecc;
}
.navigation-list-item.prices {
    border-top: 10px solid #3d47cc;
}
.navigation-list-item.contact {
    border-top: 10px solid #0a8ecc;
}

section {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}

.hero {
    padding: 210px;
    height: 100vh;
    background: grey;
    position: relative;
    background-image: url(../images/hero-background-city.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.hero-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.feature {
    float: left;
    width: 50%;
    border: 2px solid blue;
}

.feature-icon-container {
    padding-top: 17px;
    text-align: center;
    width: 40px;
    float: left;
}

.feature-description {
    width: calc(100% - 40px);
    float: left;
}

h2 {
    text-align: center;
}

.blog-container {
    display: inline-block;
    width: 32%;
    border: 1px solid #c3c3c3;
    height: 440px;
    overflow: hidden;
    font-size: 1.5vh;
    text-align: left;
}

.blog-photo {
    height: 50%;
    border-bottom: 1px solid #c3c3c3;
}

.blog-img {
    width: 100%;
    height: 100%;
}

.blog-text h2 {
    text-align: left;
    color: #01baac;
}

.blog-text, .blog-footer {
    padding: 5px;
}

.blog-footer-right {
    float: right;
}

.add-info {
    color: #01baac;
}

.section-company-experience {
    width: 100%;
    background-color: #01baac;
    color: #fff;
    font-size: 15px;
}

.section-company-experience-inner {
    width: 55%;
    margin: 0 auto;
}

.company-experience-container {
    text-align: center;
    display: inline-block;
    width: 32%;
    margin: 15px 2px;
}

.font-icon {
    font-size: 8em;
    background-color: #000;
    margin: 5px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 0 0 0 2px #fff;
    border: 15px solid #01baac;
}

.member-container {
    display: inline-block;
    width: 24%;
    height: 390px;
    text-align: center;
    border: 1px solid #c3c3c3;
    position: relative;
}

.member-photo {
    height: 45%;
    border-bottom: 1px solid #c3c3c3;
}

.member-img {
    width: 100%;
    height: 100%;
}

.member-name {
    width: 75%;
    border: 1px solid #c3c3c3;
    position: absolute;
    left: 50%;
    top: 37%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1vh;
    background-color: #fff;
    padding: 2px;
    color: #01baac;
}

.member-name p {
    color: #c3c3c3;
}

.member-bottom {
    padding: 30px 5px 5px;
    font-size: 0.9em;
}

.button-profile {
    border: 2px solid #01baac;
    background-color: #fff;
    color: #01baac;
    padding: 10px;
    width: 60%;
    text-transform: uppercase;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.button-profile:hover {
    background-color: #01baac;
    color: #fff;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
